
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    text-align: center;
} 
h1 {
    color: blue;
    font-size: clamp(12px, 2rem, 36px);
    padding: 1rem;
}
h2 {
    color: blue;
    font-size: clamp(10px, 1.5rem, 24px);
    padding: 1rem;
}
p {
    font-size: clamp(9px, 1rem, 16px);
}
main {

    background-color: lightsteelblue;
    border-style: solid;
    border-color: #999;
    box-shadow: 0 0 15px #999;
    
    padding: 1rem;
    
  }
#cards {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}
#cards section{
    background-color: rgb(164, 170, 240);
    padding: 1rem;
    border-style: solid;
    border-color: rgb(94, 98, 163);
}
img {
    margin: 1rem;
    box-shadow: 0 0 15px #000;
    width: 70%;
    height: auto;
    /* width: clamp(170px, 90%, 340px);
    height: clamp(220px, 90%, 440px); */

}