@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
  
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        }
    body h1 {
        font-family: 'Alegreya SC', sans-serif;
        font-weight: normal;
        color: #023047;
        background-color: rgba(255,255,255,.5);
        text-align: center;
    }
    body p {
        background-color: rgba(255,255,255,.5);
        padding: 1rem;
        display: inline-block;
    }
    body img {
        padding-right: 1rem;
        }
    header {
        background: #1D4D72;
        padding: 2rem;
        text-align: left;
        color: white;
        }
    header h1 {
        font-family: 'Alegreya SC', sans-serif;
        font-weight: normal;
        display: inline;
    }
    header img {
        padding-right: 1rem;
    }
    nav {
        background: #333;
        max-width: 100vw; 
        }
    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 3px 7px 6px;
        background-color: #eee;
        color: #000;
        position: fixed;
        top: 0px;
        right: 0px;
        }
        
    #menu::before {
        content: "☰";
        }
        
    #menu.open::before {
        content: "❎";
        }
        
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #023047;
        color: #fff;
        }
        
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        }
    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 900;
        }
        
        /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
        }
        
    .active::before {
        content: "📍";  /* just a wayfinding symbol for the user */
        }
        
    ul {
        list-style: none;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;  
        grid-template-rows: 30px 1fr;  
        background: white;
        }
        
    footer {
        background: #1D4D72;
        padding: 1rem;
        text-align: center;
        color: white;
        }
    h2 {
        font-family: 'Alegreya SC', sans-serif;
        font-style: normal;
        font-size: 1em;
        padding: .5em;
        text-align: center;
        }
    .card {
        text-align: left;
        grid-row: auto;
        grid-column: 1/2;
    }
    .card ul {
        padding-left: 1em;
    }
    .card ul li{
        padding-left: 1em;
        padding-top: .25em;
        padding-bottom: .25em;
    }
    .card h3 {
        font-family: 'Alegreya SC', sans-serif;
        font-weight: normal;
        text-align: center;
        color: white;
        background: #023047;
        padding: 1em;
        }
    #frame {
        padding: 5px;
    }  