@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@media screen and (min-width: 1200px){
 
    main { /* Change for media queries*/
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        background: white;
        }
      .card {
          text-align: center;
      }
      .card:nth-of-type(1){
        grid-column: 1/2;
        grid-row: 1/2;
      }
      .card:nth-of-type(2){
        grid-column: 2/3;
        grid-row: 1/2;
      }
      .card:nth-of-type(3){
        grid-column: 3/4;
        grid-row: 1/2;
      }
      .card:nth-of-type(4){
        grid-column: 4/5;
        grid-row: 1/2;
      }

      #menu {
        display: none; /* hide hamburger button */
      }
    
      .navigation {
        flex-direction: row;
      }
    
      .navigation a {
        display: block;
        flex: 1 1 100%;
      }
  } 
  