@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@media screen and (min-width: 400px){
 
body{
    font-family: 'Raleway', sans-serif;
} 
body {
    display: grid;
    width: 100vw;
    grid-template: auto auto 1fr auto / auto;
  }
header {
    background: #1D4D72;
    padding: .25rem;
    text-align: left;
    color: white;
  }
.profile {
    vertical-align: middle;
    /* box-shadow: 4px 4px 10px #333; */
    /* border-radius: 10px; */
    margin: 5px;
}
nav {
    display: flex;
    background: #333;
    padding: 1rem;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
  }
nav a:link{
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
nav a:visited{
    color: white;
    text-decoration: none;
    font-weight: normal;
  }
ul {
    list-style: none;
}
#menu {
  display: none; /* hide hamburger button */
}

.navigation {
  flex-direction: row;
  /* justify-content: space-around; */
}

.navigation a {
  display: block;
  flex: 1 1 100%;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem; 
    background: white;
  }
  
footer {
    background: #1D4D72;
    padding: 1rem;
    text-align: center;
    color: white;
  }
h2 {
    font-style: normal;
    font-size: 1em;
    text-align: center;
    grid-column: 1/3;
    grid-row: 2/3;
  }
.card {
    text-align: left;
    grid-column: auto;
    grid-row: 3/4;

  
}
  .card h3 {
    text-align: left;
    color: white;
    background: #1D4D72;
    padding: 1em;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #frame {
    padding: 5px;
  }
}
  